<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="inventory">
      <h2 data-cy="inventoryDetailsHeading"><span>Inventory</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ inventory.id }}</span>
        </dd>
        <dt><span>Book</span></dt>
        <dd>
          <div *ngIf="inventory.book">
            <a [routerLink]="['/book', inventory.book?.id, 'view']">{{ inventory.book?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/inventory', inventory.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
