<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="patron">
      <h2 data-cy="patronDetailsHeading"><span>Patron</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ patron.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ patron.name }}</span>
        </dd>
        <dt><span>Date Of Birth</span></dt>
        <dd>
          <span>{{ patron.dateOfBirth | formatMediumDate }}</span>
        </dd>
        <dt><span>Phone Number</span></dt>
        <dd>
          <span>{{ patron.phoneNumber }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/patron', patron.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
